body {
	width: 940px;
	margin: 0 auto;
	background: #889988;
	font: 10pt/1.5em Helvetica, "Helvetica neue", Arial, sans-serif;
}

header,section,article,aside,footer {
	display: block;
}

h1 {
	font: 32pt Helvetica, "Helvetica neue", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #0f0f0f; padding-top : 30px;
	text-shadow: 1px 1px 2px #000;
	padding-top: 30px;
}

aside {
	float: left;
	width: 470px;
	min-height: 480px;
	margin: 0 0 20px 0;
}

section {
	float: right;
	width: 428px;
	padding-left: 20px;
	margin: 0 0 20px 0px;
	border-left: 2px dotted #b2a497;
}